<footer class="text-dark py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Informations légales et de contact</h5>
        <p>Adresse : 123 Rue de l'Exemple, Ville</p>
        <p>Email : contact.com</p>
        <p>Téléphone : 01 23 45 67 89</p>
      </div>
      <div class="col-md-3">
        <h5>Navigation</h5>
        <ul class="list-unstyled">
          <li><a href="#">Accueil</a></li>
          <li><a href="#" >Rechercher</a></li>
          <li><a href="#">Historique</a></li>
          <li><a href="#">Vos impacts</a></li>
          <li><a href="#">Mon compte</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Réseaux sociaux</h5>
        <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>À propos</h5>
        <p>Traveleef est une application web qui vous aide à...</p>
      </div>
    </div>
  </div>
</footer>
