@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat/static/Montserrat-Regular.ttf');

  font-weight: normal;
  font-style: normal;
}

footer {
  font-family: 'Montserrat', sans-serif;
  background-color: #C9DDB0;

}

footer a {
  color: #333333;
  text-decoration: none; /* Enlever le soulignement des liens */

}



footer a:hover {
  text-decoration: underline; /* Souligner les liens au survol */
}
