<header>
  <div class="container">
    <div class="logo">
      <img src="assets/Charte%20Graphique%20Traveleef/LogoTexte_Traveleef_N.png" alt="Traveleef Logo">
    </div>
    <nav>
      <ul>
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/rechercher">Rechercher</a></li>
        <li><a routerLink="/historique">Historique</a></li>
        <li><a routerLink="/vos-impacts">Vos impacts</a></li>
      </ul>
    </nav>
    <div class="se-connecter">
      <a routerLink="/se-connecter">Se connecter</a>
    </div>
  </div>
</header>
