nav a {
  text-decoration: none; /* Supprime les soulignements */
  font-weight: bold;
  color: black; /* Définit la couleur noire */
}

nav a:hover {
  color: #555; /* Couleur légèrement plus claire au survol (optionnel) */
}

@font-face {
  font-family: 'More Sugar';
  src: url('../../assets/fonts/More_Sugar/MoreSugar-Thin.ttf');

  font-weight: normal;
  font-style: normal;
}

header {
  background-color: #C9DDB0;
  font-family: 'More Sugar';
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 20px; /* Ajuste la hauteur selon ton logo */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 30px;
}

nav a {
  text-decoration: none; /* Supprime les soulignements */
  font-weight: bold;
  color: black; /* Couleur noire pour les liens */
}

nav a:hover {
  color: #555; /* Couleur légèrement plus claire au survol */
}

.se-connecter a {
  text-decoration: none; /* Supprime les soulignements */
  font-weight: bold;
  color: black; /* Change la couleur du lien en noir */
}

.se-connecter a:hover {
  color: #555; /* Couleur légèrement différente au survol */
}

