/* Styles pour la page d'inscription */
@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat/static/Montserrat-Regular.ttf');

  font-weight: normal;
  font-style: normal;
}

.signup-container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff; /* Blanc comme la page de connexion */
}

.signup-form {
  background-color: #C9DDB0; /* Même couleur que la page de connexion */
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.google-signup {
  margin-bottom: 20px;
}

.google-btn {
  background-color: #4285f4; /* Garde la couleur bleue pour Google */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.google-btn img {
  height: 20px;
  margin-right: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #C9DDB0; /* Même couleur que la page de connexion */
  color: black; /* Texte noir */
  padding: 20px 40px; /* Même padding que la page de connexion */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-image {
  width: 50%;
  margin-left: 40px;
}

.signup-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
